@model Sales.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center" style="padding-bottom: 25px">Edit a Seller</h1>

<h4 style="padding-bottom:15px">Seller</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id" />
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label" style="padding-top:10px"></label>
                <input asp-for="Seller.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label" style="padding-top:10px"></label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label" style="padding-top:10px"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label" style="padding-top:10px"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label" style="padding-top:10px"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" 
                class="form-control"></select>
            </div>
            <div class="btn-group" style="padding-top:10px" role="group" aria-label="Basic radio toggle button group">
                <input type="submit" value="Save" class="btn btn-dark" style="padding-top: 10px"/>
                <a asp-action="Index" class="btn btn-dark">Back</a>
            </div>
        </form>
    </div>
</div>

